<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processamento Computacional</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body class="background-PC">
    

    <nav>
        <a href="{{ url_for('index') }}">Voltar para a Página Principal</a>
    </nav>

    <header>
        <h1>Descrição do funcionamento de um computador</h1>
    </header>

    <main>
        <section class="container-PC">
            <div class="container-content">
                <p>Um computador é uma máquina que realiza operações automáticas e organizadas para processar dados. Seu funcionamento baseia-se em três etapas principais: entrada, processamento e saída.</p>

                <ul>
                    <li> <strong>Entrada:</strong> O computador recebe dados de dispositivos de entrada, como teclado, mouse, câmera ou microfone. Esses dispositivos convertem informações externas em sinais que o computador pode interpretar. Esse processo alimenta o sistema com dados que ele usará no processamento.</li>
                </ul>
                <ul> <li> <strong>Processamento:</strong> Na etapa de processamento, a CPU (Unidade Central de Processamento) executa instruções para manipular os dados recebidos. A CPU realiza cálculos e operações lógicas, sendo auxiliada pela memória RAM, que armazena temporariamente os dados durante o processamento, permitindo respostas rápidas.</li></ul>

                <ul> <li> <strong>Saída:</strong> Após o processamento, o computador gera uma saída. Esses dados processados são enviados para dispositivos de saída, como monitores, impressoras ou alto-falantes, ou são salvos em unidades de armazenamento (HDs, SSDs).</li></ul>
         </div>
        </section>
    </main>
  
</body>
</html>