<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processamento Computacional</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="background-PC">

    <nav>
        <a href="{{ url_for('index') }}">Voltar para a Página Principal</a>
    </nav>

    <header>
        <h1>Processamento Computacional</h1>
    </header>

   <nav>
    <section class="container-PC">
    <ul><p><li><a href="{{ url_for('descricao_funcionamento') }}">Descrição do funcionamento de um computador</a></li></p></ul>
    </nav>
</section>
  
</body>
</html>