<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Módulos para este ano</h1>
    </header>
    <nav>
        <ul class="container-PI">
            <p><li><a href="{{ url_for('administracao_redes_locais') }}">Administração de Redes Locais</a></li></p>
            <p><li><a href="{{ url_for('processamento_computacional') }}">Processamento Computacional</a></li></p>
            <p><li><a href="{{ url_for('c_e_c') }}">Programação em c e c++ avançada</a></li></p>
            <p><li><a href="{{ url_for('administração_de_bd') }}">Administração de base de dados</a></li></p>
            <p><li><a href="{{ url_for('JAVA') }}">Programação de sistemas distribuídos-JAVA</a></li></p>
            <p><li><a href="{{ url_for('Python') }}">Programação avançada com Python</a></li></p>
        </ul>
    </nav>
    
   
</body>
</html>