<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processamento Computacional</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="{{ url_for('index') }}">Voltar para a Página Principal</a>
    </nav>

    <header>
        <h1>Processamento Computacional</h1>
    </header>

    <main>
        <section class="container">
            <div class="container-content">
            <h2>Detalhes do Tópico 1</h2>
            <p>Aqui você pode adicionar informações sobre o Tópico 1.</p>
        </div>
        </section>
    </main>
  
</body>
</html>