<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Voltar para a Página Principal</a>
    </nav>

    <header>
        <h1>Administração de bases de dados para programadores</h1>
    </header>
    <main>
        <section class="container">
            <div class="container-content">

                <p>
                    A administração de bases de dados é essencial para o desenvolvimento de software, pois o
                    gerenciamento eficaz dos dados é crucial para o sucesso das aplicações. Para programadores,
                    compreender os conceitos básicos de administração, como os tipos de bases de dados (relacionais e
                    não relacionais) e a modelagem de dados, é fundamental. A modelagem envolve a criação de diagramas
                    que representam entidades e suas relações, enquanto a normalização ajuda a evitar redundâncias e a
                    linguagem SQL é utilizada para manipulação de dados.
                </p>
                <p>Além disso, a manutenção da base de dados inclui práticas como backup, recuperação e monitoramento de
                    desempenho. A segurança também é vital, com ênfase em autenticação e autorização para proteger dados
                    sensíveis. Otimizar consultas e utilizar indexação são técnicas que contribuem para um desempenho
                    eficiente.</p>
                <h2>Em conclusão, um breve exemplo</h2>
                <p>Imagina que tens um grande baú de brinquedos. Se todos os brinquedos estiverem espalhados por todo o
                    lado, vai ser muito difícil encontrar o que queres, certo?

                    A administração de bases de dados é como organizar esse baú. Primeiro, colocamos os brinquedos em
                    caixas diferentes: os carros numa caixa, as bonecas em outra e os blocos de montar em mais uma.
                    Assim, quando quiseres brincar, sabes exatamente onde procurar.

                    Além disso, de vez em quando, precisamos olhar para o baú e ver se algum brinquedo está quebrado ou
                    se precisamos de mais caixas. Também temos que garantir que só as pessoas que conhecemos podem abrir
                    o baú e brincar com os nossos brinquedos.

                    Assim, a administração de bases de dados ajuda a manter tudo organizado e seguro, para que possamos
                    sempre encontrar o que precisamos e brincar felizes!</p>
    </main>
</body>

</html>