<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Voltar para a Página Principal</a>
    </nav>

    <header>
        <h1> Programação em C/C++ avançada</h1>
    </header>
    <main>
        <section class="container">
            <div class="container-content">

                <h2>O que é Programação em C/C++ Avançada?</h2>
                <p>Imagina que programar é como construir uma casa com blocos de montar. No início, aprendemos a usar os
                    blocos básicos para fazer paredes e telhados. Isso é como aprender a escrever programas simples.</p>
                <p>Quando falamos de C/C++ avançado, é como se estivéssemos a aprender a usar blocos especiais para
                    fazer coisas mais incríveis, como adicionar janelas que abrem ou portas que se fecham. Esses blocos
                    especiais ajudam a casa a ser mais divertida e útil!</p>
                <h2>Na programação avançada, aprendemos a fazer algumas coisas fixes, como:</h2>
                <p>Reutilizar Blocos: Podemos criar os nossos próprios blocos e usá-los várias vezes. Assim, não
                    precisamos fazer a mesma coisa de cada vez.</p>
                <p>Fazer os Nossos Blocos Trabalhar Juntos: Podemos ensinar diferentes partes da casa a comunicarem-se
                entre si, como se estivessem a conversar. Isso ajuda tudo a funcionar melhor.</p>

                <p>Cuidar da Casa: Às vezes, precisamos de consertar ou melhorar a casa. Na programação, isso significa
                corrigir erros e tornar o programa mais rápido e seguro.</p>

                <p>Construir Coisas Gigantes: Com os conhecimentos avançados, podemos fazer jogos, aplicações ou até mesmo
                programas que ajudam robôs a trabalhar.</p>

    </main>
</body>

</html>