<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Trabalho Escolar - Página Inicial</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="intro-container">
        <h1>Bem-vindo ao Trabalho Escolar</h1>
        <p>Neste trabalho conseguimos ver um pouco sobre os módulos que iremos estudar este ano.</p>
        <a href="/modulos" class="button">Módulos</a>
        <a href="/seguranca" class="button">Segurança</a>
    </div>
</body>
</html>

