{% extends "layout.html" %}

{% block title %}Módulos{% endblock %}

{% block content %}
    <h2>Módulos</h2>
    
    <!-- Navegação entre os tópicos usando radio buttons -->
    <div class="tab-container">
        <input type="radio" name="topics" id="topic1" checked>
        <label for="topic1">Administração de Redes Locais</label>

        <input type="radio" name="topics" id="topic2">
        <label for="topic2">Processamento Computacional</label>

        <input type="radio" name="topics" id="topic3">
        <label for="topic3">C/C++</label>

        <input type="radio" name="topics" id="topic4">
        <label for="topic4">Administração de Base de Dados</label>

        <input type="radio" name="topics" id="topic5">
        <label for="topic5">Java</label>

        <input type="radio" name="topics" id="topic6">
        <label for="topic6">Python</label>

        <!-- Conteúdo dos tópicos -->
        <div class="tab-content" id="content1">
            <h3>Administração de Redes Locais</h3>
            <h2>Backups e Reposições</h2>
                <p>Os backups protegem contra perda de dados devido a falhas ou ataques, com métodos como backup
                    completo, incremental e diferencial. A reposição deve ser testada regularmente, e o armazenamento
                    off-site é uma prática recomendada.</p>
                <h2>Sistemas de Fault Tolerance</h2>
                <p>Sistemas de Fault Tolerance são projetados para tolerar falhas, garantindo continuidade do serviço.
                    Eles incluem redundância de hardware, software e dados, além de sistemas de monitoramento e
                    recuperação automática. Exemplos incluem RAID, sistemas de backup contínuo e clusters de alta
                    disponibilidade.</p>
                <h2>Monitorar a Segurança e Analisar o Sistema de Auditoria</h2>
                <p>A monitoração de segurança é essencial para detectar e responder a ameaças. Isso inclui monitoramento
                    de logs, análise de tráfego e detecção de intrusões. O sistema de auditoria deve ser implementado
                    para registrar todas as atividades do sistema e garantir a conformidade com políticas de segurança.
                </p>
                <h2>Aplicação de Auditoria</h2>
                <p>A auditoria é essencial para garantir que as políticas de segurança sejam seguidas e para identificar
                    possíveis violações. A aplicação de auditoria deve ser implementada para monitorar todas as
                    atividades do sistema e garantir a conformidade com políticas de segurança.</p>
                <h2>Instalação de Aplicações de Escritório</h2>
                <p>Ferramentas de produtividade, como Microsoft Office e Google Workspace, são instaladas de forma
                    centralizada usando sistemas como SCCM. Isso garante atualizações automáticas, licenciamento
                    adequado e minimiza vulnerabilidades.</p>
                <h2>Performance do Servidor</h2>
                <p>A performance do servidor é monitorada em termos de uso de CPU, memória, desempenho de disco e
                    latência. Ferramentas como Nagios e Zabbix ajudam a identificar problemas de sobrecarga,
                    congestionamento ou falhas no servidor, permitindo ajustes para melhorar a eficiência.</p>
                <h2>Conclusão</h2>
                <p>Administrar redes locais envolve proteger dados, garantir a continuidade do serviço, monitorar a
                    segurança e manter o desempenho eficiente dos servidores, aplicando estratégias que previnem falhas
                    e garantem a integridade dos sistemas.</p>
        </div>

        <div class="tab-content" id="content2">
            <h3>Processamento Computacional</h3>
        
           
            <input type="checkbox" id="toggle1" class="toggle-checkbox">
            <label for="toggle1" class="toggle-label">Organização do Arduino</label>
            <div class="subtopic-content">
                <ul>
                    <li><strong>Funcionamento de um Arduino:</strong> O Arduino como um microcontrolador que recebe entradas, processa-as e gera saídas. Ele permite a criação de projetos interativos controlando LEDs, sensores, motores e outros dispositivos.</li>
                    <li><strong>Etapas da execução de uma tarefa no Arduino:</strong>
                    <ul>
                        <li><strong>Exemplo:</strong> Fazer um LED piscar. Envolve etapas como conectar o LED ao pino digital, programar o código para o Arduino, compilar o código no computador e enviá-lo para a placa. O Arduino executa o código, alternando entre ligar e desligar o LED com intervalos configurados.</li>
                    </ul>
                    </li>
                    <li><strong>Unidades de execução de tarefas no Arduino:</strong>
                    <ul>
                        <li><strong> Microcontrolador (CPU do Arduino): </strong>Executa as instruções do programa carregado na placa.</li>
                        <li><strong> Memória: </strong>Armazena o código e dados temporários.</li>
                        <li><strong>Dispositivos de Entrada/Saída (I/O):</strong> Pinos digitais e analógicos permitem a conexão com sensores, LEDs, motores, entre outros componentes.</li>
                        <li>Esses componentes trabalham em conjunto para realizar operações, transformando entradas em saídas.</li>
                    </ul>
                    </li>
                </ul>
            </div>
        
            
            <input type="checkbox" id="toggle2" class="toggle-checkbox">
            <label for="toggle2" class="toggle-label">Componentes do Arduino Uno
            </label>
            <div class="subtopic-content">
                <ul>
                    <li><strong> Descrição dos principais componentes:</strong>
                    <ul>
                        <li><strong>Microcontrolador (ATmega328P):</strong> O "cérebro" do Arduino Uno, responsável por processar os sinais recebidos.</li>
                        <li><strong>Memória RAM:</strong> Armazena dados temporários enquanto o programa está em execução.</li>
                        <li><strong> Memória Flash:</strong> Armazena o código do programa, mesmo quando a placa é desligada.</li>
                        <li><strong> Pinos de Entrada e Saída:</strong> Pinos digitais e analógicos que conectam sensores, LEDs, entre outros.</li>
                        <li><strong> Porta USB:</strong> Conecta o Arduino ao computador para programação e alimentação.</li>
                        <li><strong>Fonte de alimentação:</strong> Fornece energia ao circuito Arduino.</li>
                    </ul>
                    </li>
                    
                    <img src="{{ url_for('static', filename='images/Arduino_UNO.jpg') }}" width="600">
                    <ul>
                        <li><strong> Fonte de Alimentação:</strong> A placa UNO pode ser alimentada por uma porta USB (5V) ou uma fonte externa de 7V a 12V (usando plug P4 ou pino Vin).</li>
                        <li><strong>Regulador de Tensão:</strong> Transforma tensões entre 7V e 12V da entrada externa para 5V, protegendo os componentes da placa.</li>
                        <li><strong> Conectores de Alimentação Elétrica:</strong>
                            <ul>
                                <li>Pinos para fornecer energia a dispositivos externos.</li>
                                <li>Incluem: Reset (reinicia a placa), 3,3V e 5V (saídas de tensão), GND (terra) e Vin (entrada da fonte externa).</li>
                            </ul>
                        </li>
                        <li><strong>Entradas Analógicas:</strong> Seis pinos (A0 a A5) para ler sinais analógicos, como a variação de tensão de sensores.</li>
                        <li><strong>Conexões Digitais:</strong> 14 pinos digitais (0 a 13), usados para enviar e receber sinais digitais (0 ou 1). <br> Alguns têm funções especiais:
                        <ul>
                            <li>Saída PWM (pinos 3, 5, 6, 9, 10 e 11) para simular sinais analógicos</li>
                            <li>Comunicação serial (pinos 0 e 1)</li>
                            <li>Interrupções externas (pinos 2 e 3)</li>
                        </ul>
                        </li>
                        <li><strong>Microcontrolador:</strong> O ATmega328 é o "cérebro" da placa, onde o código é armazenado e executado. Ele torna a placa capaz de operar de forma autónoma, sem necessidade constante de conexão com o computador.</li>
                    
                    </ul>
                
                
                </ul>        
          </div>
        
           
            <input type="checkbox" id="toggle3" class="toggle-checkbox">
            <label for="toggle3" class="toggle-label">Unidade de Memória no Arduino</label>
            <div class="subtopic-content">
               <ul>
                <li><strong>Estrutura da memória:</strong>
                    <ul>
                        <li><strong>Memória Flash(Secundária):</strong> A memória Flash é a memória não volátil onde o código do programa é armazenado. Não volátil significa que os dados não se perdem quando o Arduino é desligado. Ela é usada para guardar o "esboço" (sketch) do programa que foi carregado na placa.No Arduino Uno, a memória Flash tem uma capacidade de 32 KB, dos quais aproximadamente 0,5 KB são reservados para o bootloader (programa que permite carregar código na placa sem necessidade de um programador externo). </li>
                        <li><strong>SRAM(Primária):</strong> A SRAM é a memória de acesso aleatório onde o Arduino armazena dados temporários durante a execução do programa. Ela é volátil, o que significa que seu conteúdo é perdido quando o Arduino é desligado ou reiniciado.No Arduino Uno, a memória Flash tem uma capacidade de 32 KB, dos quais aproximadamente 0,5 KB são reservados para o bootloader (programa que permite carregar código na placa sem necessidade de um programador externo).</li>
                        <li><strong> EEPROM(Secundária):</strong> A EEPROM é uma memória não volátil, usada para armazenar dados que precisam ser mantidos mesmo quando o Arduino é desligado. É ideal para dados que mudam ao longo do tempo, mas que não podem ser perdidos entre reinicializações, como configurações ou contadores de eventos.O Arduino Uno possui 1 KB de EEPROM.</li>
                    </ul>
                </li>
               </ul> 
            </div>

            <input type="checkbox" id="toggle4" class="toggle-checkbox">
            <label for="toggle4" class="toggle-label">Processador do Arduino</label>
            <div class="subtopic-content">
                <ul>
                    <li><strong> Estrutura básica do microcontrolador (ATmega328P):</strong>
                        <ul>
                            <li><strong> Unidade Lógica e Aritmética (ALU):</strong> A ALU (Arithmetic Logic Unit) é a parte do microcontrolador que realiza operações matemáticas e lógicas. Ela é responsável por executar cálculos como adição, subtração, multiplicação e operações de lógica booleana (como AND, OR e NOT), que são fundamentais para a tomada de decisões no programa.</li>
                            <li><strong> Unidade de Controle (CU):</strong> A Unidade de Controle coordena o fluxo de instruções no microcontrolador. Ela "lê" as instruções armazenadas na memória Flash e as decodifica, dizendo à ALU o que fazer a cada etapa. Essa unidade organiza as operações e permite que o microcontrolador siga o código do programa, etapa por etapa.</li>
                            
                        </ul>
                    </li>
                <li><strong> Exemplo Prático: Piscar um LED</strong><br>
                     Neste exemplo, o código programado na IDE do Arduino envia instruções ao processador:
                    <ol>
                        <li><strong>Definir o pino:</strong> O código configura o pino onde o LED está conectado como uma saída.</li>
                        <li><strong>Ligar o LED:</strong> O processador envia um sinal de alta tensão para o pino, acendendo o LED.</li>
                        <li><strong>Aguardar:</strong> O processador entra em um "estado de espera" por um determinado período.</li>
                        <li><strong>Desligar o LED:</strong> O processador envia um sinal de baixa tensão, apagando o LED.</li>
                        <li><strong>Aguardar novamente:</strong> O processador espera o tempo especificado antes de repetir o ciclo.</li>
                    </ol>
                <br>
                Esse exemplo mostra como o ATmega328P executa tarefas simples, mas essenciais, seguindo instruções de forma organizada.
                </li>
                </ul>
            </div>
        </div>
        
        

        <div class="tab-content" id="content3">
            <h3>C/C++</h3>
           
            <h2>O que é Programação em C/C++ Avançada?</h2>
            <p>Imagina que programar é como construir uma casa com blocos de montar. No início, aprendemos a usar os
                blocos básicos para fazer paredes e telhados. Isso é como aprender a escrever programas simples.</p>
            <p>Quando falamos de C/C++ avançado, é como se estivéssemos a aprender a usar blocos especiais para
                fazer coisas mais incríveis, como adicionar janelas que abrem ou portas que se fecham. Esses blocos
                especiais ajudam a casa a ser mais divertida e útil!</p>
            <h2>Na programação avançada, aprendemos a fazer algumas coisas fixes, como:</h2>
            <p>Reutilizar Blocos: Podemos criar os nossos próprios blocos e usá-los várias vezes. Assim, não
                precisamos fazer a mesma coisa de cada vez.</p>
            <p>Fazer os Nossos Blocos Trabalhar Juntos: Podemos ensinar diferentes partes da casa a comunicarem-se
            entre si, como se estivessem a conversar. Isso ajuda tudo a funcionar melhor.</p>

            <p>Cuidar da Casa: Às vezes, precisamos de consertar ou melhorar a casa. Na programação, isso significa
            corrigir erros e tornar o programa mais rápido e seguro.</p>

            <p>Construir Coisas Gigantes: Com os conhecimentos avançados, podemos fazer jogos, aplicações ou até mesmo
            programas que ajudam robôs a trabalhar.</p>
        </div>

        <div class="tab-content" id="content4">
            <h3>Administração de Base de Dados</h3>
            <p>
                A administração de bases de dados é essencial para o desenvolvimento de software, pois o
                gerenciamento eficaz dos dados é crucial para o sucesso das aplicações. Para programadores,
                compreender os conceitos básicos de administração, como os tipos de bases de dados (relacionais e
                não relacionais) e a modelagem de dados, é fundamental. A modelagem envolve a criação de diagramas
                que representam entidades e suas relações, enquanto a normalização ajuda a evitar redundâncias e a
                linguagem SQL é utilizada para manipulação de dados.
            </p>
            <p>Além disso, a manutenção da base de dados inclui práticas como backup, recuperação e monitoramento de
                desempenho. A segurança também é vital, com ênfase em autenticação e autorização para proteger dados
                sensíveis. Otimizar consultas e utilizar indexação são técnicas que contribuem para um desempenho
                eficiente.</p>
            <h2>Em conclusão, um breve exemplo</h2>
            <p>Imagina que tens um grande baú de brinquedos. Se todos os brinquedos estiverem espalhados por todo o
                lado, vai ser muito difícil encontrar o que queres, certo?

                A administração de bases de dados é como organizar esse baú. Primeiro, colocamos os brinquedos em
                caixas diferentes: os carros numa caixa, as bonecas em outra e os blocos de montar em mais uma.
                Assim, quando quiseres brincar, sabes exatamente onde procurar.

                Além disso, de vez em quando, precisamos olhar para o baú e ver se algum brinquedo está quebrado ou
                se precisamos de mais caixas. Também temos que garantir que só as pessoas que conhecemos podem abrir
                o baú e brincar com os nossos brinquedos.

                Assim, a administração de bases de dados ajuda a manter tudo organizado e seguro, para que possamos
                sempre encontrar o que precisamos e brincar felizes!</p>
        </div>

        <div class="tab-content" id="content5">
            <h3>Java</h3>
            <h2>Explicação</h2>
            <p>Programação de sistemas distribuídos em Java envolve o desenvolvimento de aplicações que são executadas
                em múltiplos computadores conectados via uma rede. A ideia central é distribuir o processamento e o
                armazenamento entre várias máquinas para melhorar o desempenho, escalabilidade e tolerância a falhas. Em
                Java, isso é facilitado por diversas bibliotecas e frameworks. Aqui estão os principais conceitos e
                ferramentas usados: </p>
            <h2>1. Multithreading e Concurrency</h2>
            <p> Java oferece suporte nativo para programação concorrente. Isso permite que diversas tarefas sejam
                executadas simultaneamente, seja em um único nó ou entre múltiplos nós de um sistema distribuído.
                Classes como Thread e Runnable, além das funcionalidades do pacote java.util.concurrent, são usadas para
                criar e gerenciar threads, que são essenciais para lidar com tarefas distribuídas em paralelo.</p>
            <h2>2. Comunicação entre Componentes Distribuídos </h2>
            <p>A comunicação eficiente em sistemas distribuídos em Java pode ser feita de várias formas:

                <li>Sockets: Permitem comunicação direta entre máquinas via TCP/IP, facilitando o envio de dados ponto a
                    ponto.</li>
                <li>RMI: Permite que um programa chame métodos de objetos em outras máquinas, como se estivessem
                    localizados localmente, útil para sistemas baseados em objetos.</li>
                <li>JMS: Facilita a troca de mensagens assíncronas, ideal para arquiteturas orientadas a eventos e uso
                    de filas de mensagens.</li>
            </p>
            <h2>3. Frameworks para Arquiteturas Distribuídas</h2>
            <p>Java conta com frameworks que facilitam a construção de sistemas distribuídos:

                <li>Ferramentas para criar microservices, oferecendo recursos como balanceamento de carga, discovery
                    services (Eureka) e gerenciamento de configuração distribuída.</li>
                <li>Plataforma de streaming de eventos que permite a criação de sistemas distribuídos baseados em
                    processamento de eventos e troca de mensagens.

                </li>
            </p>
            <h2>4. Tolerância a Falhas e Consistência</h2>
            <p>Em sistemas distribuídos, falhas de componentes são inevitáveis, e é importante garantir que o sistema
                como um todo continue funcionando:

                <li>Zookeeper: Um serviço de coordenação distribuída que ajuda a gerenciar a configuração, sincronização
                    e
                    liderança entre os nós do sistema, garantindo consistência e recuperação de falhas.</li>
                <li>Circuit Breakers: Bibliotecas como Hystrix ou Resilience4j ajudam a implementar padrões para lidar
                    com
                    falhas de componentes, evitando o efeito cascata de falhas.</li>
            </p>
            <h2>5. Processamento de Dados Distribuídos</h2>
            <p>Java é usado extensivamente em plataformas de big data e processamento distribuído:

                <li>Hadoop e Apache Spark: Esses frameworks são amplamente usados para processamento de grandes volumes
                    de
                    dados em clusters distribuídos. Java se integra diretamente com esses frameworks, tornando-o uma
                    escolha
                    comum para grandes sistemas de processamento distribuído.</li>
            </p>
            <h2>6. Segurança e Gerenciamento de Sessões</h2>
            <p>Gerenciar a segurança e a autenticação em sistemas distribuídos pode ser complexo. Java facilita o uso de
                autenticação e criptografia com JAAS (Java Authentication and Authorization Service), bem como a
                integração com protocolos de segurança como OAuth e SSL/TLS.</p>
            <h2>7. Ferramentas de Gerenciamento e Monitoramento</h2>
            <p>Sistemas distribuídos precisam ser monitorados para garantir que estão funcionando corretamente e para
                detectar falhas. Ferramentas como JMX (Java Management Extensions) permitem monitorar e gerenciar a
                performance de sistemas distribuídos em tempo real.</p>
            <h2>Conclusão</h2>
            <p>A programação de sistemas distribuídos com Java se baseia em técnicas de comunicação eficiente entre
                componentes, paralelização de tarefas, tolerância a falhas, e ferramentas para garantir a escalabilidade
                e segurança. Com frameworks poderosos e bibliotecas nativas para programação concorrente e distribuída,
                Java continua sendo uma das linguagens mais populares para esse tipo de desenvolvimento.</p>
        </div>

        <div class="tab-content" id="content6">
            <h3>Python</h3>
            <h2>Explicação</h2>
            <p>Python é uma linguagem versátil, amplamente utilizada tanto para automação simples quanto para desenvolvimento de sistemas complexos. Ao dominar os recursos avançados de Python, desenvolvedores conseguem criar programas mais eficientes, escaláveis e fáceis de manter. Abaixo estão cinco tópicos que abordam conceitos avançados de Python:  </p>
            <h2>1. Programação Orientada a Objetos Avançada (POO)</h2>
            <p> Compreender a POO em profundidade permite usar técnicas como metaclasses para personalizar a criação de classes e sobrecarga de operadores, que modifica como os operadores (+, -, *, etc.) se comportam com objetos definidos pelo usuário. Essas práticas tornam o código mais modular e adaptável a mudanças</p>
            <h2>2. Decoradores e Context Managers </h2>
            <p>Decoradores são funções que adicionam ou modificam o comportamento de outras funções de maneira prática. Eles são úteis para implementar funcionalidades transversais, como autenticação, logs e cache. Já Context Managers (usando with) permitem gerenciar recursos, como conexões de banco de dados ou arquivos, garantindo que eles sejam fechados adequadamente após o uso.</p>
            <h2>3. Programação Funcional</h2>
            <p>Python suporta paradigmas funcionais, como funções de alta ordem (funções que retornam ou recebem outras funções), lambda (funções anônimas) e as funções map, filter e reduce, que simplificam a aplicação de operações em listas e coleções. Esse estilo torna o código mais conciso e expressivo, especialmente em processamento de dados.</p>
            <h2>4. Concorrência e Assincronismo</h2>
            <p>Com multiprocessing, é possível realizar operações em paralelo, dividindo tarefas entre múltiplos núcleos do processador. Para operações I/O-bound (como acessos a rede), o módulo asyncio permite escrever código assíncrono, acelerando o processamento e melhorando o desempenho em sistemas que aguardam respostas externas, como chamadas de APIs.</p>
            <h2>5. Manipulação de Exceções e Logs</h2>
            <p>A manipulação avançada de erros com try/except e o uso do módulo logging para capturar e registrar eventos ajudam a manter a estabilidade do código. Logs estruturados permitem monitorar o comportamento da aplicação em ambientes de produção, tornando mais fácil identificar e resolver problemas.</p>
        </div>
    </div>
{% endblock %}
