<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processamento Computacional</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="{{ url_for('index') }}">Voltar para a Página Principal</a>
    </nav>

    <header>
        <h1>Processamento Computacional</h1>
    </header>

    <main>
        <section class="container">
            <div class="container-content">
            <h2>Organização de um Computador.</h2>
            <p>Descrição de uma Tarefa: Cada tarefa no computador refere-se a uma operação que o sistema realiza, como executar um programa, processar dados ou manipular informações. Pode incluir desde operações simples até processos mais complexos.</p>
        </div>
        </section>
    </main>
  
</body>
</html>